#masthead {
	padding: 20px 0;
	height: 130px;
	position: relative;
	line-height: 1;

	.container {
		position: relative;
	}
}
.site-header {
	#logo {
		float: left;
		text-align: left;
		margin: 0 0 0 0;
		img {
			margin-bottom: 3px;
		}
	}
	.header-ad {
		float: right;
		width: 728px;
		height: 90px;
	}
}

.site-title {
	font-size: 42px;
	font-weight: bold;
	a {
		color: $accent-1;
	}
}
.site-description {
	color: #9f9f9f;
	font-size: 14px;
	margin: 8px 0 0 0;
}
#primary-bar {
	background-color: #fff;
	display: block;
	height: 42px;
	z-index: 100;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	.container {
		position: relative;
	}
}
#secondary-bar {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	position: relative;
}
.header-social {
	position: absolute;
	top: 7px;
	right: 0;
}
.header-social,
.footer-social {
	a:link,
	a:visited {
		.fa {
			border-radius: 2px;
			color: #999;
			display: inline-block;
			margin-left: 0;
			font-size: 14px;
			width: 24px;
			height: 24px;
			line-height: 24px;
			text-align: center;
			transition: all 200ms ease-in-out 0s;
		}
		.fa:hover {
			color: #fff;
		}
	}
	.fa-facebook:hover {
		background-color: #3b5998;
	}
	.fa-twitter:hover {
		background-color: #55acee;
	}
	.fa-google-plus:hover {
		background-color: #dd4b39;
	}
	.fa-instagram:hover {
		background-color: #3f729b;
	}
	.fa-pinterest:hover {
		background-color: #cc2127;
	}
	.fa-tumblr:hover {
		background-color: #35465c;
	}
	.fa-linkedin:hover {
		background-color: #0077b5;
	}
	.fa-rss:hover {
		background-color: #f26522;
	}
}


.header-search {
	line-height: 1;
	position: absolute;
	top: 8px;
	right: 0;
}

#s {
	background-color: #f5f5f5;
	padding: 5px 30px 5px 5px;
	display: block;
	width: 150px;
	border: 0;
	outline: none;
	height: 36px;
	line-height: 20px;
	font-size: 15px;
	color: #333;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-appearance: none;
	&:hover,
	&:focus {
		background-color: #e9e9e9;
		width: 170px;
	}
}
#search {
	padding-right: 20px;
	line-height: 20px;
	-webkit-appearance: none;
}

#search-submit {
	display: block;
	background: transparent;
	color: #000;
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	border: 0;
	outline: none;
	cursor: pointer;
	box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
	transition: all 200ms ease-in-out 0s;
	&:hover {
		color: $accent-1;
	}
}
