/**
 * Blue skin
 */
a,
a:hover,
a:visited,
.site-title a,
.site-title a:hover,
.sidebar .widget .widget-title,
#footer .widget .widget-title,
.content-loop .entry-meta .entry-category a,
.single #content .entry-meta .entry-category a,
.page #content .entry-meta .entry-category a,
.pagination .page-numbers.current,
.heading,
.entry-title a:hover,
.sidebar .widget ul > li a:hover,
#secondary-nav ul li a:hover,
#secondary-nav ul li.current_item a,
#secondary-nav ul li.sfHover a,
#primary-nav ul.sf-menu li li a:hover,
#secondary-nav ul.sf-menu li li a:hover,
#primary-nav .posts .post-list:hover .entry-title,
#secondary-nav .posts .post-list:hover .entry-title,
.sidebar .widget a,
.deals-nav ul li a {
	color: #42A5F5;
}

.more-link a,
.pagination .next,
.author-badge,
button,
#respond #commentform .btn,
input[type="submit"],
.deals-nav ul li a:hover,
.deals-nav ul li.current a,
.deals-nav ul li.active a {
	background-color: #42A5F5;
	color: #fff;
}

.pagination .next:after {
	border-left-color: #42A5F5;
}

#primary-nav ul ul,
#primary-nav .sf-mega {
	border-top-color: #42A5F5;
}

.widget_tag_cloud a {
	border-color: #42A5F5;
}

